body {
    background-color: black;
}

.garage {
    width: 100%;
    height: 100px;
    background: red;
}

.race-title {
    color: aliceblue;
}
.race-title-page {
    color: aliceblue;
}

.autos-container {
    padding-bottom: 5px;
    border-bottom: 3px solid aliceblue;
}

.car-model {
    color:aliceblue;
}

